<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PokeBattle{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <nav style="padding: 20px; background: #16213e; border-bottom: 2px solid #e94560;">
    <a href="/" style="margin-right: 15px; font-weight: bold; color: white; text-decoration: none;">Home</a>
    <a href="/leaderboard" style="margin-right: 15px; color: white; text-decoration: none;">Leaderboard</a>
    <a href="/login" style="color: white; text-decoration: none;">Login</a>
    </nav>

    <div class="card">
        {% block content %}{% endblock %}
    </div>

    <footer style="margin-top: 20px; font-size: 0.8rem; opacity: 1;">
        <a href="https://github.com/LucasGSNardes">&copy; 2026 Lucas Enterprise</a>
    </footer>

</body>
</html>